################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/build
/x64/Release
/.vs/AddInNative
/x64/Debug
